body {
    margin: 0;
    background-color: rgba(0, 128, 0, 0.493);
    overflow-x: hidden;
    overflow-y: hidden;
}

.insect {
    position: absolute;
    background-image: url('/images/mosquito.png');
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    z-index: 1;
    transform: scale(1);
    animation: insect 1s alternate-reverse infinite;
}

.insect-death {
    animation: insect-death 2s linear normal;
}

@keyframes insect-death {
    from {
        transform: rotate(0deg) scale(2);
    }

    to {
        transform: rotate(360deg) scale(0);
    }
}

@keyframes insect {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}

.tree {
    position: absolute;
    background-size: 100% 100%;
    width: 100px;
    height: 100px;
    z-index: 0;
}

.tree-style-1 {
    background-image: url('/images/tree-1.png');
}

.tree-style-2 {
    background-image: url('/images/tree-2.png');
}

.tree-style-3 {
    background-image: url('/images/tree-3.png');
}